<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Web server</title>
</head>
<body>
     <header class="main-header">
        {{>header}}
        <span>{{name}}</span>
    </header>
    <div class="conatiner-img">
        <img src="/img/main.png" alt="">
    </div>

     {{>footer}}
</body>
</html>