<h1>{{title}}</h1>
<nav class="links">
    <a href="/" class="link">Home</a>
    {{!-- <a href="/weather" class="link">Weather</a> --}}
    <a href="/about" class="link">About us</a>
    <a href="/help" class="link">help</a> 
</nav>

